h1{
    font-family: sans-serif;
    text-decoration: underline;
}
p{
 background-color: lightgray;

<<<<<<< HEAD
}
.tachado{
    text-decoration: line-through;
=======
>>>>>>> 18cf9a3c47e3406cd5e1a9518ec8b9efc156892d
}